.modal {
    text-align: left;
    background: white;
    width: 50%;
    height: 150px;
    left: 50%;
    top: 50%;
    padding-right: 0px !important;
    transform: translate(-50%, -50%);
}

.modal-text {
    padding: 5px;
}

#torol {
    margin-bottom: 15px;
}

@media (max-width: 991.98px) {
    .modal {
        width: 90%;
        height: 200px;
    }
    .modal-footer {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

    .table .food td,
    .table .food-sum td {
        box-sizing: unset;
        padding: 0 100px;
    }

    .table .activities td, 
    .table .activities-sum td {
        box-sizing: unset;
        padding: 0 50px 0 170px;
    }

    .food > td:nth-of-type(1):before {
        content: "Élelmiszer:";
    }

    .food > td:nth-of-type(2):before,
    .food-sum > td:nth-of-type(2):before {
        content: "Fehérje:";
    }

    .food > td:nth-of-type(3):before,
    .food-sum > td:nth-of-type(3):before {
        content: "Szénhidrát:";
    }

    .food > td:nth-of-type(4):before,
    .food-sum > td:nth-of-type(4):before {
        content: "Zsír:";
    }

    .food > td:nth-of-type(5):before,
    .food-sum > td:nth-of-type(5):before {
        content: "Cukor:";
    }

    .food > td:nth-of-type(6):before,
    .food-sum > td:nth-of-type(6):before {
        content: "Kalória:";
    }

    .activities > td:nth-of-type(1):before {
        content: "Mozgásforma neve:";
    }

    .activities > td:nth-of-type(2):before,
    .activities-sum > td:nth-of-type(2):before {
        content: "Sportolt idő (perc):";
    }

    .activities > td:nth-of-type(3):before,
    .activities-sum > td:nth-of-type(3):before {
        content: "Elégetett kalória:";
    }

}
